<ion-view title="讨论">
  <ion-content class="messages">
    <div ng-repeat="message in messages track by $index">
      <p>{{message}}</p>
    </div>
  </ion-content>
  <div class="buttons">
    <button ng-click="enterRoom(1)">Room1</button>
    <button ng-click="enterRoom(2)">Room2</button>
    <button ng-click="quitRoom()">退出房间</button>
  </div>
  <div class="inputContainer">
    <input class="input" ng-model="conversation"/>
    <button class="comment_button" ng-click="publishComment()" > 发表</button>
  </div>
</ion-view>